recursive-include bin *.bat *.py srr
recursive-include rescene *.py
recursive-include resample *.py
recursive-include usenet *.py
include usenet/srr_usenet_template.cfg
include usenet/_yenc.so
include bin/srr
include bin/srs
include AUTHORS 
include COPYING
include NEWS 
include README
include TODO 
prune rescene/test
prune resample/test
